{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <table class="table table-hover">
        <thead>
            <tr>
                <th class="text-start">Symbol</th>
                <th class="text-end">Shares</th>
                <th class="text-end">Price</th>
                <th class="text-end">TOTAL</th>
            </tr>
        </thead>

        <tbody>
            {% for value in values %}
                <tr>
                    <td class="text-start">{{ value["symbol"] }}</td>
                    <td class="text-end">{{ value["shares"] }}</td>
                    <td class="text-end">{{ value["price"] }}</td>
                    <td class="text-end">{{ value["total_price"] }}</td>
                </tr>
            {% endfor %}
        </tbody>

        <tfoot>
            <tr>
                <td class="border-0 fw-bold text-end" colspan="3">Cash</td>
                <td class="border-0 text-end">{{ cash }}</td>
            </tr>
            <tr>
                <td class="border-0 fw-bold text-end" colspan="3">TOTAL</td>
                <td class="border-0 w-bold text-end">{{ total }}</td>
            </tr>
        </tfoot>
    </table>
{% endblock %}
